body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  background-color: aliceblue;
  box-shadow: -5px 10px #888888;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: aliceblue;
}

body::-webkit-scrollbar-thumb {
  background-color: #3f51b5;
  border-radius: 5px;
}

.chatPanel-chatSection::-webkit-scrollbar,
.chatPanel-participantList::-webkit-scrollbar {
  width: 7px;
}

.chatPanel-chatSection::-webkit-scrollbar-thumb,
.chatPanel-participantList::-webkit-scrollbar-thumb {
  background-color: #3f51b5;
  border-radius: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  min-height: 100vh;
  background: aliceblue;
}

.createRoomForm,
.joinRoomForm {
  margin: 25px 10vw;
  text-align: center;
  padding: 25px;
}

.createRoomForm-formControl {
  width: 75%;
}

.createRoomForm-heading {
  margin: 0.1em;
}

.joinRoomForm-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.joinRoomForm-listItem {
  width: 75%;
}

.ListItem-MuiListItemText-secondary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.createRoomForm-createButton {
  margin-top: 20px !important;
}

.chatPanel {
  display: flex;
  flex-direction: row;
  margin: 5vh 5vw;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 20px 1px #3f51b5;
}
.chatPanel-leftPanel {
  flex: 2;
}
.chatPanel-rightPanel {
  display: flex;
  flex: 5;
  height: 80vh;
  flex-direction: column;
  border-left: 1px solid #ccc;
  /* padding: 10px 5vw; */
}
.chatPanel-chatSection {
  flex: 7;
  overflow: auto;
  padding: 0 15px;
}
.chatPanel-inputSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.MuiFormControl-root.MuiTextField-root.MuiFormControl-fullWidth {
  margin: auto;
}
.chatPanel-participantList > li:hover {
  background: #eee;
}

@media (max-width: 768px) {
  .createRoomForm,
  .joinRoomForm {
    margin: 25px 5vw;
    padding: 20px;
  }
  .createRoomForm-formControl {
    width: 90%;
  }
  .chatPanel {
    flex-direction: column;
    border: none;
    margin: 5px;
    box-shadow: none;
    padding: 0;
  }
  .chatPanel-leftPanel {
    border: 1px solid #ccc;
    border-bottom: 1px solid #ddd;
  }
  .chatPanel-rightPanel {
    border: 1px solid #ccc;
    border-top: none;
    height: 70vh;
  }
  .chatPanel-participantList {
    max-height: 10vh;
    overflow: auto;
  }
  .chatPanel-participantList-divider {
    width: 90%;
    height: 0;
    display: block;
    margin: auto;
    border-bottom: 1px solid #ddd;
  }
  .MuiList-padding {
    padding-top: 0;
  }
}
